<div class="second-row u-col-xs-10 u-col-md-5">
  <div class="o-footer__column">

  </div>
</div>
{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  <ul class="a-list">
    {% for item in items %}
      <li>
        <small>
          {{ link(item.title, item.url) }}
        </small>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}