{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  <ul class="m-navigation__nav">
    {% for item in items %}
      <li class="m-navigation__nav-item u-text">
        {{ link(item.title, item.url) }}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}