<div class="o-header__navigation u-hidden-xs u-hidden-sm u-hidden-md">
  <nav class="m-navigation">
    {{ content }}
  </nav>
</div>
<div class="o-header__actions u-hidden-lg u-hidden-xl">
  <button class="a-hamburger js-menu-toggle">
    <div class="a-hamburger__bars">
      <span class="a-hamburger__bar"></span>
      <span class="a-hamburger__bar"></span>
      <span class="a-hamburger__bar"></span>
    </div>

    <div class="a-hamburger__cross">
      <span class="a-hamburger__bar"></span>
      <span class="a-hamburger__bar"></span>
    </div>
  </button>

</div>