{% extends "page.html.twig" %}

{% block content %}
  <section class="u-container u-section">
    <div class="u-section">
      <h1>{{ "403"|t }}<span class="u-text-yellow">.</span></h1>
      <p class="u-margin-bottom-sm u-margin-top-sm">{{ "Oops, you're not supposed to be here."|t }}</p>
      <a href="/" class="a-button a-button--secondary">{{ "Go back home!"|t }}</a>
    </div>
  </section>
{% endblock %}