<header class="o-header">
  <div class="o-header__inner">
    <div class="o-header__bar">
      {{ page.header_top }}
      {{ page.header }}
    </div>
    <div class="o-header__menu js-menu-flyout u-hidden-lg u-hidden-xl">
      <ul class="m-menu">
        <li class="m-menu__link">
          <a href="/user">
            <span>My Account</span>
          </a>
        </li>
        <li class="m-menu__link">
          <a href="/user/logout">
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="u-main">
  {% if page.breadcrumbs %}
    {{ page.breadcrumbs }}
  {% endif %}
  {% block content %}
    {{ page.content }}
  {% endblock %}
</div>
<footer class="o-footer">
  <div class="o-footer__inner u-container u-section">
    <div class="u-row">
      <div class="u-col-sm-6 u-col-xs-11">
        <h1 class="u-margin-bottom-lg">clubsy<span class="u-text-yellow">.</span></h1>
        <small>Copyright © 2019 clubsy Inc. All rights reserved.</small>
      </div>
      <div class="u-col-sm-4 u-col-xs-11">
        <h1 class="u-margin-bottom-lg">contact<span class="u-text-yellow">.</span></h1>
        <ul class="a-list">
          <li>Baron van Ertbornstraat 4</li>
          <li>2630 Aartselaar</li>
          <li><a href="mailto:hello@clubsy.com">hello@clubsy.com</a></li>
          <li>+32 04 72 03 88 86</li>
        </ul>
      </div>
      <div class="u-col-sm-2 u-col-xs-11">
        <h1 class="u-margin-bottom-lg">useful links<span class="u-text-yellow">.</span></h1>
        <ul class="a-list">
          <li><a href="/">Home</a></li>
          <li><a href="/user">My Account</a></li>
          <li><a href="/create/club">Create Club</a></li>
          <li><a href="/about">What's clubsy?</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
