{% extends "page.html.twig" %}

{% block content %}
  <section class="u-container u-section">
      <div class="u-section">
        <h1>{{ "404"|t }}<span class="u-text-yellow">.</span></h1>
        <p class="u-margin-bottom-sm u-margin-top-sm">{{ "Oops, sorry we can't find this page."|t }}</p>
        <a href="/" class="a-button a-button--secondary">{{ "Go back home!"|t }}</a>
      </div>
  </section>
{% endblock %}