<header class="o-header">
  <div class="o-header__inner">
    <div class="o-header__bar">
      {{ page.header_top }}
      {% if group_title %}
        <a href="/group/{{ group_id }}" class="o-header__logo">
          <h1>{{ group_title }}<span class="u-text-yellow">.</span></h1>
        </a>
        <div class="o-header__navigation u-hidden-xs u-hidden-sm u-hidden-md">
          <nav class="m-navigation">
            <ul class="m-navigation__nav">
              <li class="m-navigation__nav-item">
                <a href="/group/{{ group_id }}/members">Members</a>
              </li>
              <li class="m-navigation__nav-item">
                {% if isMovie == false %}
                  <a href="/group/{{ group_id }}/content">Books</a>
                {% else %}
                  <a href="/group/{{ group_id }}/content">Movies</a>
                {% endif %}
              </li>
              <li class="m-navigation__nav-item">
                  <a href="/user">My Account</a>
                </li>
            </ul>
          </nav>
        </div>
        <div class="o-header__actions u-hidden-lg u-hidden-xl">
          <button class="a-hamburger js-menu-toggle">
            <div class="a-hamburger__bars">
              <span class="a-hamburger__bar"></span>
              <span class="a-hamburger__bar"></span>
              <span class="a-hamburger__bar"></span>
            </div>

            <div class="a-hamburger__cross">
              <span class="a-hamburger__bar"></span>
              <span class="a-hamburger__bar"></span>
            </div>
          </button>

        </div>
      {% else %}
        {{ page.header }}
      {% endif %}
      {% if group_title %}
    </div>
    <div class="o-header__menu js-menu-flyout u-hidden-lg u-hidden-xl">
      <ul class="m-menu">
        <li class="m-menu__link">
          <a href="/group/{{ group_id }}/members">
            <span>Members</span>
          </a>
        </li>
        {% if isMovie == false %}
          <li class="m-menu__link">
            <a href="/group/{{ group_id }}/content">
              <span>Books</span>
            </a>
          </li>
        {% else %}
          <li class="m-menu__link">
            <a href="/group/{{ group_id }}/content">
              <span>Movies</span>
            </a>
          </li>
        {% endif %}
        <li class="m-menu__link">
          <a href="/user">
            <span>My Account</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
  {% endif %}
</header>
<div class="u-main">
  <div class="o-hero o-hero__club">
    <div class="o-hero__container">
      <div class="o-hero__image" style="background-image: url({{ file_url(wallpaper) }})">
      </div>
    </div>
  </div>
  {% if account == owner or account == 1 %}
    <div class="a-alert a-alert--transparent">
    <div class="a-alert__inner u-container">
      <ul class="a-list-inline a-list-inline--separated">
        <li>
          <a href="/group/{{ group_id }}/add-members" class="a-button-outline">
            <span>Add Member</span>
          </a>


        </li>
        <li>
          {% if isMovie == false %}
            <a href="/group/{{ group_id }}/create" class="a-button-outline">
              <span>Add Book</span>
            </a>
          {% else %}
            <a href="/group/{{ group_id }}/create_movie" class="a-button-outline">
              <span>Add Movie</span>
            </a>
          {% endif %}
        </li>
        <li>
          <a href="/group/{{ group_id }}/edit_club" class="a-button-outline">
            <span>Settings </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  {% endif %}
  {% if page.breadcrumbs %}
    {{ page.breadcrumbs }}
  {% endif %}
  {% block content %}
    {{ page.content }}
  {% endblock %}
</div>
<footer class="o-footer">
  <div class="o-footer__inner u-container u-section">
    <div class="u-row">
      <div class="u-col-sm-6 u-col-xs-11">
        <h1 class="u-margin-bottom-lg">clubsy<span class="u-text-yellow">.</span></h1>
        <small>Copyright © 2019 clubsy Inc. All rights reserved.</small>
      </div>
      <div class="u-col-sm-4 u-col-xs-11">
        <h1 class="u-margin-bottom-lg">contact<span class="u-text-yellow">.</span></h1>
        <ul class="a-list">
          <li>Baron van Ertbornstraat 4</li>
          <li>2630 Aartselaar</li>
          <li><a href="mailto:hello@clubsy.com">hello@clubsy.com</a></li>
          <li>+32 04 72 03 88 86</li>
        </ul>
      </div>
      <div class="u-col-sm-2 u-col-xs-11">
        <h1 class="u-margin-bottom-lg">useful links<span class="u-text-yellow">.</span></h1>
        <ul class="a-list">
          <li><a href="/user">My Account</a></li>
          <li><a href="/create/club">Create Club</a></li>
          <li><a href="/about">What's clubsy?</a></li>
          {% if account != owner or account == 1 %}
            <li>
              <a class="u-text-error"href="/group/{{ group_id }}/leave/{{ account }}">
                <span>Leave Group</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
