{% extends "page.html.twig" %}

{% block content %}
  <section class="u-container u-section">
    <div class="u-section">
      <h1>{{ "500 internal error"|t }}<span class="u-text-yellow">.</span></h1>
      <p class="u-margin-bottom-sm u-margin-top-sm">{{ "Oops, looks like we messed up. We'll be right back!" |t }}</p>
      <a href="/" class="a-button a-button--secondary">{{ "Go back home!"|t }}</a>
    </div>
  </section>
{% endblock %}