  {% for type, messages in message_list %}
    {% if type == 'error' %}
      {% set classes = ['a-alert', 'a-alert--error'] %}
      {% set icon = 'icon-close' %}

    {% elseif type== 'warning'%}
      {% set classes = ['a-alert', 'a-alert--info'] %}
      {% set icon = 'icon-enveloppe' %}
    {% elseif type== 'success'%}

    {% elseif type== 'status'%}
      {% set classes = ['a-alert', 'a-alert--success'] %}
      {% set icon = 'icon-check' %}
    {% endif %}
    {% if messages|length > 1 %}
    <div {{ attributes.addClass(classes) }} role="alert">
      <ul>
        {% for message in messages %}
          <div class="a-alert__inner u-container">
            <li>{{ message }}</li>
          </div>
        {% endfor %}
      </ul>
    </div>

    {% else %}
      <div {{ attributes.addClass(classes) }} role="alert">
          <p class="u-container" style="padding: 10px;">{{ messages|first }}</p>
      </div>
    {% endif %}
    {{ attributes.removeClass(classes) }}
  {% endfor %}
