<div class="o-hero o-hero__club">
  <div class="o-hero__container">
    <div class="o-hero__image"
         style="background-image: url({{ file_url(user.user_picture.entity.uri.value) }})">
    </div>
  </div>
</div>

{% if uid == user.uid.0.value or uid == 1 %}
  <div class="a-alert a-alert--transparent">
    <div class="a-alert__inner u-container">
      <ul class="a-list-inline a-list-inline--separated">
        <li>
          <a href="/user/{{ user.uid.0.value }}/edit" class="a-button-outline">
            <span>Edit Profile</span>
          </a>
        </li>
        <li>
          <a href="/create/club" class="a-button-outline">
            <span>Create a Club</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endif %}

<div class="u-container u-section">
  {% if uid != user.uid.0.value or uid == 1 %}
    <div class="u-club__header">
      <h1>{{ user.name.0.value }}<span class="u-text-yellow">.</span></h1>
    </div>
  {% endif %}

  {% if uid == user.uid.0.value or uid == 1 %}
    {% if user_pending_groups is not empty %}
      <div class="u-club__users">
          <h1>
            pending club requests<span class="u-text-yellow">.</span>
          </h1>
          <div class="u-row">
              {% for group in user_pending_groups %}
                <div style="width: 100%; background-color: #191918;" class="m-block--request">
                  <div class="m-block--buttons">
                    <a class="a-button a-button--secondary" href="/user/{{ uid }}/accept/{{ group['groups_id'] }}/form">Accept</a>
                    <a href="/user/{{ user.uid.0.value }}/decline/{{ group['groups_id'] }}/form" class="a-button">Decline</a>
                  </div>
                  <h3 class="m-block__title" style="color: #fff">
                    {{ group['groups_name'] }}
                  </h3>
                </div>
              {% endfor %}
          </div>
      </div>
    {% endif %}
    {% if user_owned_groups is not empty %}
      <div class="u-club__users u-club__users__images">
        <h1>
          my clubs<span class="u-text-yellow">.</span>
        </h1>
        <div class="u-row">
          {% for group in user_owned_groups %}
            <a href="/group/{{ group['groups_id'] }}" class="a-info avatar-circle a-info__icon a-icon  u-text-primary">
              <img src="{{ file_url(group['groups_wallpaper']) }}" alt="group_wallpaper">
              <div class="a-info__tooltip a-tooltip">
                <p>
                  {{ group['groups_name'] }}
                </p>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endif %}

  {% if user_groups is not empty %}
    {% if uid == user.uid.0.value or uid == 1 %}
      <div class="u-club__users u-club__users__images">
        <h1>
          all clubs<span class="u-text-yellow">.</span>
        </h1>
        <div class="u-row">
          {% for group in user_groups %}
            <a href="/group/{{ group['groups_id'] }}" class="a-info avatar-circle a-info__icon a-icon  u-text-primary">
              <img src="{{ file_url(group['groups_wallpaper']) }}" alt="group_wallpaper">
              <div class="a-info__tooltip a-tooltip">
                <p>
                  {{ group['groups_name'] }}
                </p>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endif %}

  {% if uid != user.uid.0.value or uid == 1 %}
  <div class="a-text-with-visual">
    <div class="a-text-with-visual__image">
      <div class="a-image">
        <img src="{{ file_url(user.user_picture.entity.uri.value) }}" alt="user.user_picture.entity.alt.value">
      </div>
    </div>
    <div class="a-text-with-visual__text">
      <h5 class="u-margin-bottom-sm">{{ 'First Name'|t }}</h5>
      {{ content.field_first_name }}
      <br>
      <br>
      <h5 class="u-margin-bottom-sm">{{ 'Last Name'|t }}</h5>
      <p>
        {{ content.field_last_name }}
      </p>
      <br>
      <br>
      <h5>{{ 'Country'|t }}</h5>
      <p>
        {{ content.field_country }}
      </p>
    </div>
  </div>
  {% endif %}
</div>