<div class="u-container u-section">
  <div class="u-container__form">
    <div class="u-header__title">
      <h1>Register<span class="u-text-yellow">.</span></h1>
    </div>
    <form {{ attributes }}>
      {{ form.form_build_id }}
      {{ form.form_id }}
      {{ form.form_token }}
      <section>
        {{ form.account }}
      </section>
      <section>
        <h1>Personal<span class="u-text-yellow">.</span></h1>
        {{ form.field_first_name }}
        {{ form.field_last_name }}
        {{ form.user_picture }}
        {{ form.field_country }}
        {{ form.actions.submit }}
      </section>
    </form>
  </div>
</div>