{%
  set title_classes = [
  required ? 'js-form-required',
  required ? 'form-required',
]
%}
{% if title %}
  <label for="edit-cover-upload" class="a-input__label js-form-required form-required">{{ title }}</label>
{% endif %}
{{ content }}
{% if errors %}
  <div>
    {{ errors }}
  </div>
{% endif %}
