
<div class="o-hero o-hero--centered has-breadcrumb">
  <div class="o-hero__inner">
    <div class="o-hero__image" style="background-image: url('/{{ active_theme_path() }}/styleguide/node_modules/lmr-styleguide/dist/img/hero/hero_7.jpg')"></div>

    <div class="o-hero__container u-container">
      <div class="o-hero__content">
        <div class="u-introduction">
          <div class="u-container">
            <div class="form-container">
              <h1>log in<span class="u-text-yellow">.</span></h1>
              <form {{ attributes }}>
                {{ children }}
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>