{%
  set classes = [
  'm-search m-search--sm',
]
%}
<div class="u-section">
  <h1 class="u-margin-bottom-lg">find people<span class="u-text-yellow">.</span></h1>
  <form{{ attributes.addClass(classes) }}>
    {{ children }}
  </form>
</div>


