<div class="u-container u-section">
  <h1>settings<span class="u-text-yellow">.</span></h1>
  <form{{ attributes }}>
    {{ children }}
  </form>

  <div class="u-section">
    <h1>danger<span class="u-text-yellow">.</span></h1>
    <div>
      <a href="/group/{{ group_id }}/delete_club" class="a-button a-button--secondary u-margin-top-lg">Delete this club</a>
    </div>
  </div>
</div>

