<a href="" name="review" style=""></a>
<div class="u-section">
  <h1>write your review<span class="u-text-yellow">.</span></h1>
  <form{{ attributes }}>
    {{ children }}
    <small style="color: #999ba2; position:absolute; bottom: 0; right: 15px;">All reviews are final and cannot be undone.</small>
  </form>
</div>

