{% if logged_in %}
  <div{{ attributes }}>
    {{ data.preview }}
    {# Render widget data without the image preview that was output already. #}
    {{ data|without('preview', 'upload_button') }}
  </div>
{% else %}
  <div{{ attributes }}>
    {{ data.preview }}
    {# Render widget data without the image preview that was output already. #}
    {{ data|without('preview', 'upload_button', 'remove_button') }}
  </div>
{% endif %}