<div class="a-alert__inner u-container">
  {% if context.list_style %}
    {%- set attributes = attributes.addClass('item-list__' ~ context.list_style) %}
  {% endif %}
  {% if items or empty %}
  {%- if title is not empty -%}
    <h3>{{ title }}</h3>
  {%- endif -%}

  {%- if items -%}
  <{{ list_type }}{{ attributes }}>
  {%- for item in items -%}
    <li{{ item.attributes }}>{{ item.value }}</li>
  {%- endfor -%}
</{{ list_type }}>
  {%- else -%}
    {{- empty -}}
  {%- endif -%}
{%- endif %}
</div>

