#edit-field-user-picture-und-0-upload-button {
    display:none;
    visibility:hidden;
}

.password-strength__indicator {
    background-color: #fce205!important;
    border-top-right-radius: 40px!important;
    height: 50%;
}

.password-strength__meter {
    background-color: #191918!important;
}

#delete-book-form a, #edit-cancel {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin: 0;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    word-break: break-all;
    border: none;
    border-radius: 0;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    background-color: #ffffff!important;
    color: #000000!important;
    transition-property: color,background,box-shadow,-webkit-box-shadow;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

#delete-book-form a:hover, #edit-cancel:hover {
    background-color: #0f0f0f!important;
    color: #ffffff!important;
}

.u-introduction a {
    color: #ffffff;
}


.a-list-inline {
    justify-content: flex-end;
}

.u-club__reviews .a-input {
    margin-bottom: 0!important;
}


.o-footer li, .o-footer a, .o-footer small {
    color: gray;
    font-size: 0.9em;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.stickybottom {
    position: fixed;
    bottom:0;
    left: 0;
    right:0;
}

.o-header__menu.is-open {
    z-index: 9999999999!important;
    width: 100vw!important;
    display: flex;
}

.o-header__menu {
    width: 100vw!important;
    display: none;
}

.u-club__header {
    padding-bottom: 0px!important;
}

.u-club__recent .a-button--full{
    background-color: #191918!important;
}

.u-club__recent .a-button--full span {
    color: #ffffff!important;
}

.o-header__menu {
    background: #191918!important;
}

.a-hamburger {
    background-color: #191918!important;
}

.a-hamburger__bar {
    background-color: #FFFFFF;
}