<div class="m-block">
  {% if goid == uid %}
    <form action="/group/{{ gid }}/delete-comment/{{ elements['#cache']['keys'][2] }}">
      <button class="rm-user" href=""><span class="icon-close"></span></button>
    </form>
  {% endif %}
  <p class="m-block__passed">{{ created }}</p>
  <h1 class="m-block__title">{{ title }}</h1>
  <span class="m_block__rating">
    {{ content.field_rating }}
  </span>
  <p class="m-block__text">
    {{ content.field_review }}
  </p>
  <br>
  <p class="m-block__text"><span class="u-text-italic">Written by: </span>{{ author }}</p>
</div>

