{{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {{ attachment_before }}
<div class="u-container u-section">
  {{ exposed }}

  {{ rows }}
  {{ empty }}
  <div class="u-margin-top-lg u-text-center">
    {{ pager }}
  </div>
</div>
  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
