<div class="o-hero o-hero--centered has-breadcrumb">
  <div class="o-hero__inner">
    <div class="o-hero__image" style="background-image: url('/{{ active_theme_path() }}/styleguide/node_modules/lmr-styleguide/dist/img/hero/hero_7.jpg')">
    </div>
    <div class="o-hero__container u-container">
      <div class="o-hero__content">
        <div class="u-introduction">
          <div class="u-container">
            <div class="u-row">
              <div class="u-col-xs-9 u-col-sm-6 u-col-md-4">
                <h1>
                  Choose your own ideas<span class="u-text-yellow">.</span>
                </h1>
                <p class="u-margin-top-lg">
                  With clubsy. you can join your friends and review al your favorite books and films with your friends
                </p>
                <div class="u-introduction--cta">
                  {% if is_user %}
                    <a class="a-button" href="/create/club">Create a Club</a>
                  {% else %}
                    <a href="{{ path('user.register') }}" class="a-button">Join Now</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>