<div class="o-hero o-hero__club">
  <div class="o-hero__container">
    <div class="o-hero__image" style="background-image: url('/{{ active_theme_path() }}/styleguide/node_modules/lmr-styleguide/dist/img/hero/hero_4.jpg')">
    </div>
  </div>
</div>
<div class="u-container u-section">
  <div class="u-club__header">
    <h1>What is clubsy<span class="u-text-yellow">?</span></h1>
  </div>
    <section class="u-section">
      <h1 class="u-margin-bottom-lg">Create your club</h1>
      <p>
        Your own custom enviroment for you and your friends to share your experiences with your favorite books or movies. As a leader you will
        set the dates for when they have to finish the books or movies.
        <br>
        <br>
        Always make sure to give you and your friend enough time!
      </p>
    </section>
  <section class="u-section">
    <h1 class="u-margin-bottom-lg">Join Clubs</h1>
    <p>
      Join clubs and finish your books and movies before the deadline nears. You can review them until the deadline falls.
      After that the reviews close and you can never review them again.
      <br>
      <br>
      Your club leader will add them regularly so make sure you don't join to many clubs so you can keep up!
    </p>
  </section>
  <section class="u-section">
    <a href="/user/register" class="a-button a-button--secondary">Join Now</a>
    <a href="/user/login" class="a-button a-button">Log in</a>
  </section>
</div>
