<div class="a-info avatar-circle a-info__icon a-icon  u-text-primary">
  {% if account == oid or account == 1 %}
    {% if account != oid %}
      <form action="/group/{{ gid }}/delete-member/{{ fields.id.content }}">
        <button class="rm-user" href=""><span class="icon-close"></span></button>
      </form>
    {% endif %}
  {% endif %}
  {% if fields.user_picture.content %}
    {{ fields.user_picture.content }}
  {% else %}
    <span class="initials unselectable">{{ fields.field_first_name.content[0:1] }}{{ fields.field_last_name.content[0:1] }}</span>
  {% endif %}
  <div class="a-info__tooltip a-tooltip">
    <p>
      {{ fields.field_first_name.content }}  {{ fields.field_last_name.content }}
    </p>
  </div>
</div>
