<a href="{{ fields.view_group_content_1.content }}" class="m-block__book">
  {{ fields.field_cover.content }}
  <h1 class="m-block__title">{{ fields.title.content }}</h1>
  <span class="m-block__rating">
    {{ fields.field_rating.content }}
  </span>
  <p class="m-block__text">{{ fields.field_summary.content }}</p>
</a>


