<div class="u-container u-section">
  <div class="u-club__header">
    {% if current_user == group_leader or current_user == 1 %}
      <a class="a-button-right" style="top:10px; right:130px; font-size:1.2em;" href="/group/{{ group_content.gid.entity.id.value }}/delete/{{ group_content.id.value }}">{{ 'delete'|t }}</a>
    {% endif %}
      <a class="a-button a-button--secondary a-button-right" href="#review">{{ 'Review'|t }}</a>
    <h1>{{ content.label }}</h1>
    {% if content.field_year %}
      <p>{{ content.field_year }}</p>
    {% endif %}

  </div>
  <div class="a-text-with-visual">
    <div class="a-text-with-visual__image">
      <div class="a-image">
        <img src="{{ file_url(group_content.field_cover.entity.uri.value) }}" alt="">
      </div>
    </div>

    <div class="a-text-with-visual__text">
      {% if 'now'|date('d/m/Y') <= deadline %}
        <h6 class="">{{ 'Deadline '|t }}</h6>
        {{ deadline }}
        <br>
        <br>
        {{ content.field_add_to_calendar }}
      {% endif %}
      {{ content.field_rating }}
      <small class="u-text-black">{{ comment_count }} people reviewed this.</small>
      <br>
      <br>
      {% if content.field_director is not empty %}
        <h6 class="u-margin-bottom-sm">{{ 'Directed'|t }}</h6>
        <p>
          {{ content.field_director }}
        </p>
      {% endif %}
      {% if content.field_author is not empty %}
        <h6 class="u-margin-bottom-sm">{{ 'Directed'|t }}</h6>
        <p>
          {{ content.field_author }}
        </p>
      {% endif %}
      <br>
      <h6 class="u-margin-bottom-sm">{{ 'Summary'|t }}</h6>
      <p>
        {{ content.field_summary }}
      </p>
    </div>
  </div>
  <div class="u-club__reviews">
    <h1>reviews<span class="u-text-yellow">.</span></h1>
    {% if content.field_reviews[0]['comments'] is empty %}
      <p>No reviews yet. You can be first!</p>
    {% endif %}
    {{ content.field_reviews }}
  </div>
</div>
