<div class="u-container u-section">
  <div class="u-club__recent">
    <h1>
      upcoming reviews<span class="u-text-yellow">.</span>
    </h1>
    {{ drupal_view('group_nodes', 'page_2', group.id.value) }}
  </div>
  <div class="u-club__recent" name="#toreview">
    <h1>movies<span class="u-text-yellow">.</span></h1>
    <div class="u-row u-margin-bottom-lg">
      {{ drupal_view('group_nodes', 'block_1', group.id.value) }}
    </div>
    <a href="/group/{{ group.id.value }}/content" class="a-button a-button--full"> <span>All Books</span></a>
  </div>
  <a href="/group/{{ group.id.value }}/members" class="a-button a-button--secondary a-button-right"> All Members</a>
  <div class="u-club__users u-club__users__images">
    <h1>
      users<span class="u-text-yellow">.</span>
    </h1>
    <div class="u-row">
      {{ drupal_view('group_members', 'members_block', group.id.value) }}

    </div>
  </div>
</div>